@model List<product>

<h2>Product List</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.quantity</td>
                <td>
@*                     <a href="@Url.Action("Edit","Home", new {ID = item.id})"> Edit </a>         |
                    
                    <a href="@Url.Action("Delete","Home", new {ID = item.id})"> Delete </a> *@



                    <a href="@Url.Action("Edit","Home", new {ID = item.id})" class="btn btn-primary">Edit</a> |

                    <a href="@Url.Action("Delete","Home", new {ID = item.id})" class="btn btn-danger">Delete</a>

                 </td>
            </tr>
        }
    </tbody>
</table>
